#img-bg{
  background-image: url('../../assets/img/chihirogif.gif'); /* IMAGE FROM https://br.pinterest.com/pin/106116134955626989/  */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: auto;

}

