<div class="container-fluid">
  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">

        <div class="col-md-10">
          <h1 class="text-center">Cadastro</h1>

          <div class="form-group">
            <label for="nome">Nome</label> <!--o user.pontoAlgumaCoisa aparece aqui pois foi declarado como objeto em cadastrar.components.ts-->
            <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Sua nome" >
          </div><!--ngModel lê tudo que está sendo adicionado ao input. Para haver a implementação real do cadastro é necessário pegar as informações que estão sendo digitadas no formulário de cadastro, e para que isto ocorra, é necessário adicionar em app.module.ts um módulo do angular chamado FormsModule. Melhor colocá-lo perto do input, pode gerar alguns erros-->
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário ">
          </div>
          <div class="form-group">
            <label for="foto">Link da foto</label>
            <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)="confirmaSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha"> <!--cirou um evento chamado input que chama um método confirmaSenha($evento). $ significa espera-->
          </div>
          <div class="form-group">
            <label for="confirmaSenha">Confirmar Senha</label>
            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme sua senha">
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de Usuário</label>
            <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)"> <!--Ao escolher um select, você muda o tipo de usuário e com isto, o evento deve ser change. O $event irá pegar o valor do value-->
              <option>Selecione o tipo de usuário:</option>
              <option value="normal">normal</option>
              <option value="adm">Administrador</option>
            </select>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn mr-4 text-light" style="background-color:#8c836b;" routerLink='/entrar'>Cancelar</button> <!--routerLink: direcionando para página entrar, estando na página cadastrar-->
            <button type="submit" class="btn text-light" style="background-color: #4b75e7 ;" (click)="cadastrar()">Cadastrar</button> <!--o botão cadastrar chama o método cadastrar por meio do evento clique-->
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
