<div class="container-fluid">
  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">

        <div class="col-md-10">
          <h1 class="text-center">Cadastro</h1>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Sua nome" >
          </div>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário ">
          </div>
          <div class="form-group">
            <label for="foto">Link da foto</label>
            <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)="confirmaSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
          </div>
          <div class="form-group">
            <label for="confirmaSenha">Confirmar Senha</label>
            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme sua senha">
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de Usuário</label>
            <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
              <option>Selecione o tipo de usuário:</option>
              <option value="normal">normal</option>
              <option value="adm">Administrador</option>
            </select>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn mr-4 text-light" style="background-color:#8c836b;" routerLink="/entrar">Cancelar</button>
            <button type="submit" class="btn text-light" style="background-color: #4b75e7 ;" (click)="cadastrar()">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
